/*body {
    margin: 20px 0px;
}

li {
    display: inline;
}*/
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
    line-height: 2;
}


/*----------header-hero------------*/
.site-header.inicio{
    background-image: url('../img/header.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
   
}
/*globales*/
img{
    max-width: 100%;
}
.container{
    max-width: 120rem;
   margin: 0 auto;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}
.contenido-header{
    height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
    
  
    
}.barra{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.contenido-header h1{
    color:#28B463;
    color: white;
    line-height: 1.7;

}


.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 20px;
}

.navegacion a:last-of-type{
    margin-right: 0px;
}
.navegacion a:hover{
   color:#5AB1CF;}
/*UTILIDADES*/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw300{
    font-weight: 300;
}
.centrar-texto{
    text-align: center;
}
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}
.icono{
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}
.icono h3{
    text-transform: uppercase;
}
.encabezado-nosotros{
    text-transform: capitalize;
    
}
/*--------Anuncios--------*/
.seccion-contenedor{
    display: flex;
    flex-direction: column;
}
.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5%;
}
.contenido-anuncios a{
    justify-content: center;
}
.anuncio{
    flex-basis: calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    Background-color:#f5f5f5;

}
.contenido-anuncio{
    padding: 2rem;
}
.contenido-anuncio h3, .contenido-anuncio p{
    margin: 0;
}
.precio{
    color: #71B100;
    font-weight: 700;

}
.iconos-caracteristicas {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
.iconos-caracteristicas li{
    display: flex;
    align-self: center;
     margin-left: 1rem;
    margin-right: 1rem;
    
}

.iconos-caracteristicas li p{
    
    margin-left: 1rem;
   
}
/*.iconos-caracteristicas li img{
    
    margin-right: 1rem;
}*/
.contenido-anuncio h3{
    text-transform: capitalize;    font-size: 2.5rem;
}
.boton{
    padding: 1rem 0;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.boton-amarillo{
    display: block;
    width: 100%;
    text-align: center;
   
    background-color:#E08709;
    

}
.boton-verde{
    margin-top: 2.5%;
    align-self: flex-end;
    padding-right: 1rem;
    padding-left: 1rem;
background-color:#71B100;


}
    
/*
.index-hero {
    color: white;
    background-image: url('../img/header.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    display: flex;
}*/
/*
.index-hero nav ul li a {
    color: inherit;
    text-decoration: none;
}
.hero {
    background-color: #3E4349;
}

.hero nav ul li a {
    color: white;
    text-decoration: none;
}*/


/*---------------------------------------------*/
/*
.card-Lago img,
.card-lujo img,
.card-alberca img {
    width: 200px;
}

.card-ciudad img,
.card-bosque img,
.card-alberca2 img {
    width: 200px;
}

.card-Lago,
.card-lujo,
.card-alberca {
    border: 2px solid red;
}

.card-ciudad,
.card-bosque,
.card-alberca2 {
    border: 2px solid red;
}

.imgs-ventas img {
    width: 40px;
}

.button-card {
    text-transform: uppercase;
}
*/
/*-------------Seccion sueños-------------*/
.container-suenos {
    margin-top: 2rem;
    height: 30vh;
    min-height: 20rem;
    color: white;
    background-image: url('../img/encuentra.jpg');
    background-position: center center;
    background-size: cover;
    padding-top: 8%;
    padding-bottom: 8%;
   

   
   
}
.secundario-suenos{
    height: 100%;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secundario-suenos h1{
    margin-top: 0%;
    margin-bottom: 0%;
}
.botonContacto{
    width: 10%;
    padding-right: 1rem;
    padding-left: 1rem;
}
/*---------------------------testimonios-----------------------------*/
.container-blog{
width: 60%;
margin-right: 3%;
}
.secundario-testi{
display: flex;
justify-content: center;

}
.terraza{
    display: flex;
    margin-bottom: 2rem;
    
}
.terraza p{
   display: block;
   /*margin-bottom: 3rem;*/
    
}
.texto-terraza{
    margin-left: 3%;
}
.texto-terraza p{
   font-size: 1.2rem;
  
}
.terraza h4{
    font-size: 2.2rem;
       margin-top: 0;
       margin-bottom: 2%;
}

.imgTerraza {
width: 25rem;
height: 20rem;


   
}
.imgTerraza img{
    width: 100%;
    height: 100%;
    
    
       
    }
.container-testimoniales{
  width: 40%;
}
.card-testimoniales{
   font-size: 2rem;
    background-color: #28B463;
    color: white;
    padding: 10%;
    border-radius: 6%;
    

    
}
.card-testimoniales .textoTesti{
    display: inline-flex;
}
.autorTesti{
    display: flex;
    justify-content: flex-end;
}

.terraza h4::after,
.guia h2::after,
.guia-lounge h2::after,
.guia-room h2::after,
.guia-pool h2::after
{
    content: '';
    background: #28B463;
    display: block;
    height: 0.5rem;
    width: 20rem;
    margin: 0px;
}


.guia-pool p {
    display: inline;
}
.guia-lounge p {
    display: inline;
}

.guia-room p {
    display: inline;
}


.container-footer {
    background-color: #3E4349;
    display: flex;
    justify-content: space-between;
   padding: 0 10%;
}
.nav-footer{
    display: flex;
    align-items: center;
}
/*.nav-footer ul li a {
    text-decoration: none;
    color: white;
}*/

.container-footer .derechos p {
    color: white;
    text-transform: capitalize;
}

.barraConocenos{
    background-color: #3E4349;
}


/*----------anuncios------------*/
.logosAnuncios{

    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logosAnuncios .iconos-Anuncios{
width: 50%;

    
}
.iconos-Anuncios li{
    margin-right: 20%;
}
/*-----------blog--------------*/
.container-blog{
    /*justify-content: center;*/
}